.start_game {
  height: 100%;
  width: 100%;
  font-family: inherit;
  font-size: 60px;
  background-color: transparent;
  border: none;
  color: #be4332;
  cursor: pointer;
}
.start_game::after {
  content: 'Start';
  transition: font-size 1s ease-in-out;
}
.start_game:hover::after {
  font-size: 90px;
  content: 'Woof!';
}
