.start_game {
  height: 100%;
  width: 100%;
  font-family: inherit;
  font-size: 60px;
  background-color: transparent;
  border: none;
  color: #be4332;
  cursor: pointer;
}
.start_game::after {
  content: 'Start';
  transition: font-size 1s ease-in-out;
}
.start_game:hover::after {
  font-size: 90px;
  content: 'Woof!';
}
.answer {
  cursor: pointer;
  border: none;
  background-color: #be4332;
  color: #f1eacf;
  border-radius: 5px;
  font-size: 2rem;
  width: 300px;
  height: 200px;
  transition: 1s ease-in-out 0s;
}
.answer:hover {
  background-color: #f1eacf;
  color: #be4332;
  border: 1px solid #be4332;
}
.homepage-link {
  border: none;
  background-color: #f1eacf;
  color: #be4332;
  font: inherit;
  cursor: pointer;
}
.modal {
  cursor: pointer;
  border: none;
  background-color: #be4332;
  color: #f1eacf;
  border-radius: 5px;
  font-size: 1.5rem;
  width: 100px;
  height: 50px;
}
