.container {
  height: 35px;
  width: 75%;
  background-color: hsla(7, 58%, 47%, 0.32);
  border-radius: 3px;

  @media (width < 500px) {
    width: 50%;
  }
}
.filler {
  height: 100%;
  background-color: hsla(7, 58%, 47%, 1);
  border-radius: 3px;
  transition: all 1s ease-in-out 0s;
}
