.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3);
  height: 300px;
  font-size: 2rem;
  background: linear-gradient(
    #f1eacf,
    #f1eacf 50%,
    #be4332 50%,
    #be4332
  );
  background-size: 100% 200%;
  border: none;
  color: inherit;
  transition: background 1.5s;
  overflow: auto;
  justify-content: flex-end;

  @media (max-width: 500px) {
    width: 100px;
    height: 75px;
    background: #be4332;
    border: none;
    border-radius: 5px;
    transition: revert;
    color: #f1eacf;
    justify-content: center;
  }
}
@media (min-width: 500px) {
  .wrapper:hover {
    background-position: 100% 100%;
    color: #f1eacf;
    padding-top: 50px;
    padding-bottom: 10px;
    justify-content: space-between;
  }
  .wrapper:hover > .primaryBlurb {
    display: block;
  }
  .wrapper:hover > .secondaryBlurb {
    display: block;
  }
  .wrapper:hover > .title {
    animation-play-state: paused;
  }
}

.title {
  animation-name: floating;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 50px;
  padding-bottom: 25px;
  position: relative;
  bottom: 40px;

  @media (max-width: 500px) {
    animation-name: none;
    margin-top: inherit;
    padding-bottom: inherit;
    font-size: 1rem;
    position: revert;
  }

  @media (max-width: 750px) {
    font-size: 1.5rem;
  }
}

.primaryBlurb {
  display: none;
  font-size: 2rem;
  text-align: center;
  color: #f1eacf;
}
.secondaryBlurb {
  display: none;
  font-size: 1rem;
  text-align: center;
  color: #f1eacf;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
