.wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.backdrop {
  position: absolute;
  inset: 0;
  background: hsl(0 0% 0% / 0.75);
}

