.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: #be4332;
  font-size: 10rem;
  background: none;
}

.description {
  color: #be4332;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 20px;
}

.buttonArray {
  width: 100vw;
  display: flex;
}
