.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: #be4332;
  font-size: 10rem;
  background: none;
}

.description {
  color: #be4332;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 20px;
}

.buttonArray {
  width: 100vw;
  display: flex;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: calc(100% / 3);
  height: 350px;
  font-size: 2rem;
  background: linear-gradient(
    #f1eacf,
    #f1eacf 50%,
    #be4332 50%,
    #be4332
  );
  background-size: 100% 200%;
  border: none;
  color: inherit;
  transition: background 1.5s;
}
.link_label {
  animation-name: floating;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 50px;
  padding-bottom: 25px;
}
.link:hover {
  background-position: 100% 100%;
  color: #f1eacf;
}

.link:hover > .link_label {
  animation-play-state: paused;
}
.game_blurb__primary {
  font-size: 2rem;
  text-align: center;
  color: #f1eacf;
}
.game_blurb__secondary {
  font-size: 1rem;
  text-align: center;
  color: #f1eacf;
  margin-top: -40px;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
