.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.title {
  color: #be4332;
  font-size: 140px;
  background: none;
}

.description {
  color: #be4332;
  font-size: 40px;
  text-align: center;
}

.buttonArray {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
  height: 50%;
  font-family: inherit;
  font-size: 30px;
  background: linear-gradient(
    #f1eacf,
    #f1eacf 50%,
    #be4332 50%,
    #be4332
  );
  background-size: 100% 200%;
  border: none;
  color: #be4332;
  transition: background 1.5s;
}
.link_label {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 50px;
  padding-bottom: 25px;
}
.link:hover {
  background-position: 100% 100%;
  color: #f1eacf;
}

.link:hover > .link_label {
  animation-play-state: paused;
}
.game_blurb__primary {
  font-size: 20px;
  text-align: center;
  height: 5rem;
  color: #f1eacf;
}
.game_blurb__secondary {
  font-size: 15px;
  text-align: center;
  height: 5rem;
  color: #f1eacf;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
