.answerBlock {
  display: flex;
  align-items: center;
  width: 90%;
  height: 65%;
  border-radius: 5px;
  position: relative;
  top: 20%;
}
.correct {
  justify-content: center;
  background-color: hsla(7, 58%, 47%, 1);
  font-size: 10rem;
  color: #f1eacf;
}
.incorrect {
  flex-direction: column;
  justify-content: space-evenly;
  background-color: hsla(7, 58%, 47%, 0.32);
  color: #be4332;
}
.answerText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.mainText {
  font-size: 5rem;
}
.subText {
  font-size: 2rem;
}
.correctAnswer {
  font-size: 3rem;
}
