.timer {
  text-align: center;
  width: 75px;
  min-width: 75px;
  height: 75px;
  border-radius: 100%;
  background-color: hsla(7, 58%, 47%, 0.32);
  color: #f1eacf;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 12px;
  font-size: 3rem;
}
.active {
  animation: timer 1s linear 1s infinite;
}

@keyframes timer {
  from {
    background-color: hsla(7, 58%, 47%, 0.32);
  }
  to {
    background-color: hsla(7, 58%, 47%, 1);
  }
}
